.container {
  max-width: 75rem;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #eee;
  padding: 1.875rem;
}

.posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  gap: 1.875rem;
}

.post{
  background: #fff;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  transition: transform 200ms ease-in-out;
}

.post:hover{
  transform: scale(1.01);
}

.post img{
  max-width: 100%;
}

.post-content{
  padding: 1.875rem;
}