.container {
  max-width: 75rem;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #eee;
  padding: 1.875rem;
}

.button-container {
  min-height: 3.75rem;
  display: flex;
  align-items: flex-end;
}



